
body {background-color:aquamarine;
text-align: center;size: 10rem;}
.div1 {border: 0.3em solid blue;height:60em;margin:0em;}
h1 {color:black}
h2 {color: blue;}
div>ul>li>a{font-size:1em;color: black;}
div#Lebenslauf{font-size:2em;}
div#Portfolio{font-size:2em;}
div#Skills{font-size:2em;}
div#Kontakt{font-size:2em;margin: bottom 16.88em;}
/* Weiterbildung WebDevelopment DCI */
img {width: 60vw;
    height: 60vw;
    display: block;
    margin:0 auto;
    border-radius: 50%;
    object-fit: cover;
}
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	background: #f5f6fa;
}
.wrapper .sidebar{
	background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}
